@import './base.scss';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #66aaff;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #4488ff40;
    transition: 0.3s;
  }
}

h1 {
  font: {
    size: 2.2rem;
    weight: 800;
  }
}

h2 {
  font: {
    size: 2rem;
    weight: 800;
  }
}

h3 {
  font: {
    size: 2rem;
    weight: 700;
  }
}

h4 {
  font: {
    size: 1.8rem;
    weight: 700;
  }
}

h5 {
  font: {
    size: 1.8rem;
    weight: 600;
  }
}

h6 {
  font: {
    size: 1.5rem;
    weight: 600;
  }
}
